/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}
:root {
  --primary_ligt: #faf4ea;
  --primary_dark: #31261a;
  --accent: #819b57;
  --secondary_accent: #465929;
  --secondary_dark: #a18268;
  --secondary_light: #cfcfbc;
}
/* Base */
ul {
  list-style: none;
}
body {
  color: var(--primary_dark);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 120%;
}

/* button */
.button {
  background-color: var(--accent);
  color: #faf4ea;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background-color: var(--secondary_accent);
}
/* hero */
.nav_link {
  color: var(--primary_ligt);
  text-decoration: none;
}
.nav_link:hover {
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
}
.hero_title {
  color: var(--primary_ligt);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.accent {
  color: var(--accent);
}
/* solution_section */
.solution {
  background-color: var(--accent);
  color: var(--primary_ligt);
}
.section_title {
  color: var(--primary_dark);
  font-size: 64px;
  font-weight: 600;
}
/* Traditions */
.traditions_text {
  text-transform: uppercase;
  color: var(--accent);
  font-weight: 600;
}
.brand_text {
  color: var(--accent);
  font-weight: 600;
}

/* shef section */
.sheff_title {
  font-size: 40px;
  font-weight: 600;
}
/* format section */
.format_title {
  font-weight: 600;
  font-size: 24px;
}
.format_description {
  font-size: 14px;
}
/* footer*/
.adress-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--primary_ligt);
  font-style: normal;
}
.adress-link:hover {
  color: var(--accent);
}
.adress-document {
  color: var(--primary_ligt);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
}
.adress-document:hover {
  color: var(--accent);
}
.adress-save {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary_dark);
  font-style: normal;
}
