/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}
:root {
  --primary_ligt: #faf4ea;
  --primary_dark: #31261a;
  --accent: #819b57;
  --secondary_accent: #465929;
  --secondary_dark: #a18268;
  --secondary_light: #cfcfbc;
}
/* Base */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: var(--primary_dark);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}
/* conteiner */
.conteiner {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* button */
.button {
  background-color: var(--accent);
  color: #faf4ea;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background-color: var(--secondary_accent);
}
/* hero */
.header-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 32px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
.hero-section {
  padding: 272px 0px;
}
.nav_link {
  color: var(--primary_ligt);
  text-decoration: none;
}
.nav_link:hover {
  color: var(--accent);
  text-decoration: none;
}
.hero_title {
  color: var(--primary_ligt);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.accent {
  color: var(--accent);
}

/* section */
.section {
  padding: 48px 0px;
}

/* solution_section */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.solution {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.solutions {
  background-color: var(--accent);
  padding: 16px;
}
.solution-item {
  color: var(--primary_ligt);
  font-size: 20px;
}
.section_title {
  color: var(--primary_dark);
  font-size: 64px;
  font-weight: 600;
}
/* Traditions */
.tradition-content {
  max-width: 700px;
}
.tradition-text {
  max-width: 340px;
}
.tradition-conteiner {
  display: flex;
  justify-content: space-around;
  gap: 48px;
}
.traditions_text {
  text-transform: uppercase;
  color: var(--accent);
  font-weight: 600;
}
.brand_text {
  color: var(--accent);
  font-weight: 600;
}
.tradition-title {
  margin-bottom: 48px;
}
.tradition-section {
  padding-top: 98px;
}

/* shef section */
.sheff_title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-title {
  margin-bottom: 80px;
}
/* format section */
.format-list {
  display: flex;
  gap: 20px;
}
.card-item {
  flex-basis: calc((100% - 40px) / 3);
}
.card-form {
  border: 1px solid var(--secondary_light);
  border-radius: 16px;
  padding: 24px;
}
.format_title {
  font-weight: 600;
  font-size: 16px;
}
.format_description {
  font-size: 14px;
}
.formad-title {
  margin-bottom: 80px;
}

/* form */
.form-title {
  margin-bottom: 24px;
}
/* footer*/
.adress-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--primary_ligt);
  font-style: normal;
}
.adress-link:hover {
  color: var(--accent);
}
.adress-document {
  color: var(--primary_ligt);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
}
.adress-document:hover {
  color: var(--accent);
}
.adress-save {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary_dark);
  font-style: normal;
}
